@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap");

* {
  text-align: center;
  font-family: "Quicksand";
  color: rgb(96, 96, 96);
  padding: 7px;
  position: relative;
}

.App-header {
  text-align: center;
  background-color: #f1356d;
  padding: 20px;
  
}

.navigation_link {
  margin: auto;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  padding-bottom: 20px;
  background-color: #f1356d;

}

.nav-bar{
  text-decoration: none;
  width: fit-content;
  background-color: gainsboro;
  padding-bottom: 20px;
  padding: auto;
  margin: auto;
}

/* Style the links inside the navigation bar */
.nav-bar a:hover {
  color: #f1356d;
  margin: auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
.links{
  text-decoration: none;
  padding: auto;
}
.link-home {
  text-decoration: none;
  padding: auto;
  color: #f1356d;


}
.user-info{
  background-color:#f1356d;
  width: fit-content;
  border-radius: 50px;
  margin: auto;
  
}
.h2 {
  font-size: medium;
  border-radius: 5px;
  width: fit-content;
  margin: auto;
  padding-top: 10px;
}
.review-card {
  background-color: gainsboro;
  font-size: small;
  border-radius: 20px;
  margin-bottom: 20px;
}
.title {
  font-size: small;
  background-color: #f1356d;
  border-radius: 30px;
  border-color: #f1356d;
  width: fit-content;
  margin: auto;
}


.reviewcard_img {
  height: 140px;
  width: 140px;
  padding-top: 40px;
 
  
}
.review-card-button {
  text-decoration: none;
  color: #f1356d;
  margin: auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

p {
  
  font-family: "Quicksand";
  text-align: center;
  
  
}

.review-border {
  border-radius: 20px;
  padding: 20px;
  border: 3px solid #f1356d;
  padding-bottom: 20px;
  
}
.user_review {
  border-radius: 26px;
  border: 5px solid #f1356d;
  background-color: gainsboro;
  width: fit-content;
  margin: auto;
  padding-bottom: 30px;

  
  
}
.review-body {
  background-color: gainsboro;
  border-radius: 26px;
  width: fit-content;
  padding-top: 30px;
}

.button1 {
  border-radius: 8px;
}
.votes-num {
  font-weight: bolder;
  color: #f1356d;
  margin: auto;
  text-align: center;
}
.comment_font {
  font-family: "Quicksand";
  text-align: center;
  font-size: small;

}
.comment {
  border-radius: 40px;
}
.num-votes{
  width: fit-content;
  margin: auto;
  padding: 10px;
  font-size: medium;
}
.votes-card p{
  background-color: #f1356d;
  margin: auto;
}
submit-button {
  width: fit-content;
}
.dropdown {
  width: 30%;
}

.comment {
background-color: gainsboro;
width: fit-content;
margin: auto;
}
